<html>

    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </header>

    <title>NPM-Registry Group 19</title>

        <div class="parent">
            <div class="container-below">
                <div class="wrapper-below">       

                    <ul class="list-wrapper">
                    
                        <li class="list-items">
                            <p><a href="/docs">Upload</a></p>
                        </li>
                    
                        <li class="list-items">
                            <p><a href="/docs">Update</a></p>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
        

</html>
