<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <div class="top-banner" id="top-banner">
    
        <div id="dark-mode-item-one">
                <a href="/home" style="text-decoration: none;" id="light-mode-btn" >         
                    <div id="content-light-btn" style="padding-top: 8px">
                    Home
                    </div>
                    
                </a>

        </div>
    
        <div id="dark-mode-item-one">
                <a href="/about" style="text-decoration: none;" id="light-mode-btn" >         
                    <div id="content-light-btn" style="padding-top: 8px">
                    About
                    </div>
                    
                </a>

        </div>
        
        <div id="dark-mode-item-one" style="margin-left: auto">
                <button id="light-mode-btn" >         
                    <div id="content-light-btn">
                    NPM-Registry
                    </div>
                    
                </button>

        </div>    </div>
        
<!-- body below -->
    <div id="container-below">

            <div id="card-grid">

    {% for name, id, size  in result %}
        <div class="card">
            <div class="content-card">
            {{name}}
            <br> <br>
            ID: {{id}}
            <br> <br>
            {{size}} bytes
            </div>
          </div>
    {%endfor%}  
    </div>
            
</body>
  
<link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">

</html>
