<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <div class="top-banner" id="top-banner">
    
        <div id="dark-mode-item-one">
                <button id="light-mode-btn" >         
                    <div id="content-light-btn">
                    NPM-Registry                        
                    </div>

                </button>
        </div>
     
    </div>
        
<!-- body below -->
    <div id="container-below">

            <div id="card-grid">
            </div>                    
    </div>
            
</body>
  
<link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">

</html>
